body{
  background-color: rgb(0, 0, 0);
  width: 70vw ;
}

.Título{
  top: -50px;
  color: rgb(255, 255, 255);
  font-family:'Courier New', Courier, monospace;
  text-shadow: -3px -3px 2px rgb(95, 94, 94);
  position: relative;
  left: 35%;
  font-size:2.5rem;
  width: 734px;
}

.class {
  background-color: white;
  font-family: serif;
  position: relative;
  left: 20%;
  font-size: 1.5rem;
  border-radius: 2%;
  text-align: center;
}

.site {
  text-align: center;
  background-color: black;
  font-size: 1.5rem;
  color: white;
  top:-90px;
  text-shadow: -3px -3px 2px rgb(95, 94, 94);
}

.historia {
  top:-95px;
}

.explicacao {
  font-size: 1.5rem;
  top:-80px;
}

.comoUsar {
  text-align: center;
  top:-50px;
}

.inputs {
  top:-50px;
  padding: 50px;
  height: 350px;
}

.cifrar-e-decifrar {
  width: 90%;
}

.resultado {
  width: 90%;
  top: -1px;
}

.chave {
  position: absolute;
  top: 212px;
  height: 48px;
  width: 6%;
  left: 15px;
  border-radius: 5%;
  background-color: beige;
}

.botao {
  position: absolute;
  top: 400px;
  height: 35px;
  width: 11%;
  border-radius: 5%;
  background-color: beige;
}

.cifrar {
  left: 90px;
}

.decifrar {
  left: 250px;
}

.reset {
  left: 500px;
}

.footer{
  position: relative;
  top: -10px;
  background-color: black;
  color: white;
  text-shadow: -3px -3px 2px rgb(95, 94, 94);
  font-size: 1rem;
}

.imagem{
  position: absolute;
}


@media screen and (max-width:768px) {

  .Título{
  top: -50px;
  position: relative;
  left: 35%;
  font-size:1.5rem;
  width: 734px;
  }

  .site {
  top:-80px;
  }

  .historia {
  top: -80px;
  }

  .cifrar {
  left: 80px ;
  }

  .decifrar {
  left: 170px ;
  }

  .reset {
  left:320px;
  }
}

@media screen and (max-width:600px) {

  .Título {
  width: 450px ;
  }

  .site {
  width: 400px;
  }

  .class {
  width:400px;
  }

  .inputs {
  width: 350px;
  left:35px ;
  }

  .botao {
  width:14% ;
  }
}
