
body {
    background-color: black;
    height: 40vh;
    width: 60%;
}

h1 {
    color: white;
    font-family: OCR A Std, monospace;
    font-size: 600%;
    position: relative;
    left: 40%; 
    top: 20px; 
}

.site {
    background-color: white;
    font-family: OCR A Std, monospace;
    margin-right: 2%;
    border-style: groove;
    border-style: hidden;
    padding: 1%;
    padding-inline:unset;
    top: -399%;
    left: 32%;
    position: relative;
    text-align: center;
}

.cifraDeCesar {
    background-color: white;
    font-family: OCR A Std, monospace;
    margin-right: 2%;
    border-style: groove;
    border-style: hidden;
    padding: 1%;
    padding-inline:unset;
    top: -388%;
    left: 32%;
    position: relative;
    text-align: center;
}

.explain {
    background-color: white;
    font-family: OCR A Std, monospace;
    margin-right: 2%;
    border-style: groove;
    border-style: hidden;
    padding: 1%;
    padding-inline:unset;
    top: -377%;
    left: 32%;
    position: relative;
    text-align:center;
}

.all {
    background-color: white;
    margin-right: 2%;
    height: 320px;
    width: 60%;
    border-style: groove;
    border-style: hidden;
    padding: 1%;
    top: 130%;
    left: 18%;
    position: absolute;
    text-align:center;
}

#CifrarDecifrar {
 
  background-color:beige;  
  padding: 10%;
  position: absolute;
  right: 56%;
  top: 14%;
  text-size-adjust:inherit;
}

#resultEncDec {
  background-color:beige;  
  padding: 10%;
  position: absolute;
  left: 54%;
  top: 14%;
  border-width:2px;
  border-style: solid;
  text-align: center;
  text-size-adjust:inherit;
}

#offset {
 background-color: beige;
 position: absolute;
 height: 10%;
 top: 40%;
 padding: 1%;
 width: 50px;
 left: 45%;
}

#botaoCifrar {
    background-color: beige;
    position: absolute;
    height: 10%;
    top: 83%;
    padding: 1%;
    width: 65px;
    right: 85%;   
}


#botaoDecifrar {
 background-color: beige;
 position: absolute;
 height: 10%;
 top: 83%;
 padding: 1%;
 width: 65px;
 right: 77%;
}

.explain2 {
    background-color: white;
    font-family: OCR A Std, monospace;
    font-size: 120%;
    margin-right: 5%;
    height: 50%;
    border-style: groove;
    border-style: hidden;
    top: 195%;
    left: 6%;
    position: absolute;
    text-align:center;
}


.rodape {
 color: beige;
 height: 20%;
 top: 265%;
 left: 530px;
 position: absolute;
}


