
body {
    background-color: black;
    height: 40vh;
    width: 60%;
}

h1 {
    color: white;
    font-family: OCR A Std, monospace;
    font-size: 600%;
    position: relative;
    left: 40%; 
    top: 20px; 
}

.site {
    background-color:  rgb(240, 240, 240);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3ch;
    margin-right: 2%;
    border-style: groove;
    border-style: hidden;
    padding: 1%;
    padding-inline:unset;
    top: -415%;
    left: 35%;
    position: relative;
    text-align: center;
    border-radius: 9%;
}

.cifraDeCesar {
    background-color:rgb(240, 240, 240);
    font-size: 2.5ch;
    font-family:'Courier New', Courier, monospace;
    margin-right: 2%;
    border-style: groove;
    border-style: hidden;
    padding: 1%;
    top: -409%;
    left: 35%;
    position: relative;
    text-align: center;
    border-radius: 9%;
    display: list-item;
}


.titleExplain {
    text-align: center;
}

.explain {
    background-color: rgb(240, 240, 240);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5ch;
    margin-right: 2%;
    border-style: groove;
    border-style: hidden;
    padding: 1%;
    padding-inline:unset;
    top: -403%;
    left: 35%;
    position: relative;
    text-align:left;
    border-radius: 9%;
}

.all {
    background-color:white;
    margin-right: 2%;
    height: 320px;
    width: 60%;
    border-style: groove;
    border-style: hidden;
    border-radius: 9%;
    padding: 3.5%;
    top: 165%;
    left: 18%;
    position: absolute;
    text-align:center;
}

textarea {
 
  background-color:rgb(206, 189, 154);  
  padding: 10%;
  position: absolute;
  right: 56%;
  top: 16%;
  text-align: left;
  text-align-last: left;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
}

#resultEncDec {
  background-color:rgb(206, 189, 154);  
  padding: 13%;
  position: absolute;
  left: 54%;
  top: 11.5%;
  border-width:2px;
  border-style: solid;
  border-radius: 10%;
  width: 10%;
  height: 4%;
}

#offset {
 background-color:rgb(206, 189, 154);
 position: absolute;
 height: 10%;
 top: 40%;
 padding: 1%;
 width: 50px;
 left: 45%;
}

#botaoCifrar {
    background-color:rgb(206, 189, 154);
    position: absolute;
    height: 10%;
    top: 83%;
    padding: 1%;
    width: 65px;
    right: 85%;   
}


#botaoDecifrar {
 background-color:rgb(206, 189, 154);
 position: absolute;
 height: 10%;
 top: 83%;
 padding: 1%;
 width: 65px;
 right: 77%;
}

#refresh {
    background-color: rgb(206, 189, 154);
    position: absolute;
    height: 11%;
    top: 83%;
    padding-right: 1.5%;
    width: 65px;
    right: 67%;  
    text-align:end;
}

.explain2 {
    background-color:rgb(240, 240, 240) ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:3ch;
    font-weight: 400;
    margin-right: 5%;
    height: 50%;
    border-style: groove;
    border-style: hidden;
    border-radius: 9%;
    top: 235%;
    left: 6%;
    position: absolute;
    text-align:center;
}


.rodape {
 color: beige;
 height: 20%;
 top: 299%;
 left: 535px;
 position: absolute;
}
