
body {
    background-color: black;
    height: 40vh;
    width: 60%;
}

h1 {
    color: white;
    font-family: OCR A Std, monospace;
    font-size: 600%;
    position: relative;
    left: 40%; 
    top: 20px;
}

.site {
    background-color: white;
    font-family: OCR A Std, monospace;
    margin-right: 2%;
    border-style: groove;
    border-style: hidden;
    padding: 1%;
    padding-inline:unset;
    top: -399%;
    left: 32%;
    position: relative;
    text-align: center;
}

.cifraDeCesar {
    background-color: white;
    font-family: OCR A Std, monospace;
    margin-right: 2%;
    border-style: groove;
    border-style: hidden;
    padding: 1%;
    padding-inline:unset;
    top: -388%;
    left: 32%;
    position: relative;
    text-align: center;
}

.explain {
    background-color: white;
    font-family: OCR A Std, monospace;
    margin-right: 2%;
    border-style: groove;
    border-style: hidden;
    padding: 1%;
    padding-inline:unset;
    top: -377%;
    left: 32%;
    position: relative;
    text-align:center;
}

.all {
    background-color: white;
    margin-right: 2%;
    height: 300px;
    width: 110%;
    border-style: groove;
    border-style: hidden;
    padding: 1%;
    padding-inline:unset;
    top: -366%;
    left: 26%;
    position: relative;
    text-align:center;
}

#Cifrar {
 
  background-color:beige;  
  padding: 10%;
  position: relative;
  right: 25%;
  top: 27px;
  text-align: center;
  text-size-adjust:inherit;
}

.result {
  background-color:beige;  
  padding: 10%;
  position: relative;
  left: 15%;
  width: 15.5%;
  top: -100px;
  border-width:2px;
  border-style: solid;
  text-align: center;
  text-size-adjust:inherit;
}

#offset {
 background-color: beige;
 position: relative;
 height: 10%;
 top: -380px;
 padding: 1%;
 width: 50px;
 left: 64px;
}

#botaoCifrar {
    background-color: beige;
    position: relative;
    height: 10%;
    top: -330px;
    padding: 1%;
    width: 65px;
    right: 33px;   
}


#botaoDecifrar {
 background-color: beige;
 position: relative;
 height: 10%;
 top: -330px;
 padding: 1%;
 width: 65px;
 right: 32px;
}

.rodape {
 color: beige;
 height: 20%;
 top: -320%;
 left: 530px;
 position: relative;
}





